# /node_modules/* and /bower_components/* in the project root are ignored by default
**/node_modules/**
# Ignore built files and next files
**/build/**
**/.next/**
**/out/**
# Ignore test data
**/testData/**
