**/TEMP/**
**/temp/**
**/node_modules/**
**/.nyc_output/**
**/coverage/**
**/build/**
**/dist/**
**/types/**
lerna-debug.log
.env
cypress.env.json

not-public-yet/**
lauritz/**
apollo/**
sncf/**

**/backup/**
**/zipped test/**
**/publish/**
cypress/videos/**
cypress/screenshots/**
cypress/output-data/**
**/scripts-data/**
yarn-error.log

*.heapsnapshot
.nmprc
debug.log
packageInfoByPackageName.json

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
