**/TEMP/**
**/temp/**
**/node_modules/**
**/.nyc_output/**
**/coverage/**
**/build/**
**/dist/**
lerna-debug.log
.env
cypress.env.json

not-public-yet/**
lauritz/**
apollo/**
sncf/**

**/backup/**
**/zipped test/**
**/publish/**
cypress/videos/**
cypress/screenshots/**
cypress/output-data/**
**/scripts-data/**
yarn-error.log

*.heapsnapshot
.nmprc
.yarnrc
debug.log
packageInfoByPackageName.json

.yarn/*
.yarnrc.yml
yarn.lock
# !.yarn/cache
# !.yarn/patches
# !.yarn/releases
# !.yarn/plugins
# !.yarn/sdks
# !.yarn/versions
.pnp.*
